div {
    color: green;
}

p {
    color: red;
    font-size: 30px
}

/*
1. $.ajax()
    * 语法：$.ajax({键值对});
     //使用$.ajax()发送异步请求
        $.ajax({
            url:"ajaxServlet1111" , // 请求路径
            type:"POST" , //请求方式
            //data: "username=jack&age=23",//请求参数
            data:{"username":"jack","age":23},
            success:function (data) {
                alert(data);
            },//响应成功后的回调函数
            error:function () {
                alert("出错啦...")
            },//表示如果请求响应出现错误，会执行的回调函数

            dataType:"text"//设置接受到的响应数据的格式
        });
2. $.get()：发送get请求
    * 语法：$.get(url, [data], [callback], [type])
        * 参数：
            * url：请求路径
            * data：请求参数
            * callback：回调函数
            * type：响应结果的类型

3. $.post()：发送post请求
    * 语法：$.post(url, [data], [callback], [type])
        * 参数：
            * url：请求路径
            * data：请求参数
            * callback：回调函数
            * type：响应结果的类型

*/